@model Projeto_Integrador.ViewModel.DoacaoVM

@{
    ViewData["Title"] = "Detail";
    Layout = null;
}

<div class="modal-header d-flex justify-content-between align-items-center bg-light">
    <h5 class="modal-title">Detalhes</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>


<div class="container mt-4">

    <div class="row m-0 ">
        <div class="row-md-6">
            <dt class="col-sm-2 mb-1 align-middle">
                @Html.DisplayNameFor(model => model.IdDoa)
            </dt>
            <dd class="col-sm-10 align-middle">
                @Html.DisplayFor(model => model.IdDoa)
            </dd>
            <dt class="col-sm-2 mb-1 align-middle">
                @Html.DisplayNameFor(model => model.status)
            </dt>
            <dd class="col-sm-10 align-middle">
                @Html.DisplayFor(model => model.status)
            </dd>
            <dt class="col-sm-2 mb-1 align-middle">
                @Html.DisplayNameFor(model => model.NomeDoador)
            </dt>
            <dd class="col-sm-10 align-middle">
                @Html.DisplayFor(model => model.NomeDoador)
            </dd>
            <dt class="col-sm-2 mb-1 align-middle">
                @Html.DisplayNameFor(model => model.DataDisp)
            </dt>
            <dd class="col-sm-10 align-middle">
                @Html.DisplayFor(model => model.DataDisp)
            </dd>
            <dt class="col-sm-2 mb-1 align-middle">
                @Html.DisplayNameFor(model => model.NomeLocal)
            </dt>
            <dd class="col-sm-10 align-middle">
                @Html.DisplayFor(model => model.NomeLocal)
            </dd>
        </div>
    </div>

    <div class="modal-footer bg-light">
        <div class="ms-auto">
        </div>
    </div>
</div>



