@model IEnumerable<Projeto_Integrador.ViewModel.DoacaoVM>

@{
    ViewData["Title"] = "Index";
}

<body>
    <div class="container-fluid">


        <div class="row  m-md-5">
            <div class="row bg-light mt-0 d-flex align-items-center">
                <div class="col">
                    <h2 class="text-muted">Agendamento de Doações</h2>
                </div>

                <div class="col-auto me-xxl-4">
                    <button class="create btn-sm d-flex align-items-center gap-1">
                        <img src="~/imgs/plus-lg.svg" style="width: 1rem; height: 1rem; filter: invert(1);" />
                        Agendar Doação
                    </button>
                </div>
                <hr class="col-12 mt-0" />
            </div>

            <table class="table mt-3 mb-5 ">
                <thead>
                    <tr style="height: 3rem">
                        <th class="text-center align-middle text-capitalize text-light bg-dark ">
                            @Html.DisplayNameFor(model => model.IdDoa)
                        </th>
                        <th class="text-center align-middle text-capitalize text-light bg-dark ">
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                        <th class="text-center align-middle text-capitalize text-light bg-dark">
                            @Html.DisplayNameFor(model => model.NomeDoador)
                        </th>
                        <th class="text-center align-middle text-capitalize text-light bg-dark">
                            @Html.DisplayNameFor(model => model.DataDisp)
                        </th>
                        <th class="text-center align-middle text-capitalize text-light bg-dark">
                            @Html.DisplayNameFor(model => model.NomeLocal)
                        </th>
                        <th class="text-center align-middle text-capitalize text-light bg-dark "></th>
                    </tr>

                  

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="height: 5rem" class="bg-light text-center align-middle border-0 rounded">

                            <td class="text-center align-middle border-0 rounded">
                                @Html.DisplayFor(modelItem => item.IdDoa)
                            </td>
                            <td class="text-center align-middle border-0 rounded">
                                <span class="badge badge-warning rounded-pill d-inline" style="background: #fbf0da; color: #73510d">
                                    @Html.DisplayFor(modelItem => item.status)
                                </span>
                            </td>
                            <td class="text-center align-middle rounded mt-2 mb-2 border-0">
                                @Html.DisplayFor(modelItem => item.NomeDoador)
                            </td>
                            <td class="text-center align-middle border-0 rounded">
                                @Html.DisplayFor(modelItem => item.DataDisp)
                            </td>
                            <td class="text-center align-middle border-0 rounded">
                                @Html.DisplayFor(modelItem => item.NomeLocal)
                            </td>

                            <td class="text-center align-middle border-0">
                                <div class="dropdown">
                                    <button class="btn rounded-circle no-caret" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #f0f0f0; border: none;">
                                        ...
                                    </button>
                                    <ul class="dropdown-menu" style="position: absolute !important; width: 150px; border: none;">
                                        <li>
                                            <div class="d-flex align-items-center">
                                                <button class="btn details dropdown-item" data-value="@item.IdDoa">
                                                    <img src="~/imgs/book-half.svg" />
                                                    Detalhes
                                                </button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center">
                                                <button class="btn edit dropdown-item" data-value="@item.IdDoa">
                                                    <img src="~/imgs/pencil-square.svg" />
                                                    Editar
                                                </button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="btn Delete" onclick="confirmarExclusao('@Url.Action("Delete", new { id = item.id })')">
                                                    <img src="~/imgs/trash-fill.svg" style="max-width: 18px; max-height: 18px;" />
                                                    Excluir
                                                </a>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </td>
                        </tr>
                        <tr class="spacer">
                            <td colspan="100"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</body>

<script>
    function confirmarExclusao(url) {
        if (confirm("Tem certeza que deseja excluir?")) {
            window.location.href = url;
        } else {
            // Não faz nada, cancela a ação de exclusão
        }
    }
</script>

<div class="modal fade bd-example-modal-lg" tabindex="-1" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-capitalize">
            <div class="modal-body">
                <div id="conteudoModal"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".details").click(function () {
                var id = $(this).data("value");
                $("#conteudoModal").load("/Doacao/Detail?id=" + id, function () {
                    $('#myModal').modal("show");
                })
            });

            $(".edit").click(function () {
                var id = $(this).data("value");
                $("#conteudoModal").load("/Doacao/Edit?id=" + id, function () {
                    $("#myModal").modal('show');
                })
            });

            $(".create").click(function () {
                var id = $(this).data("value");
                $("#conteudoModal").load("/Doacao/Create", function () {
                    $("#myModal").modal('show');
                })
            });

        })
    </script>
}






