@model IEnumerable<Projeto_Integrador.ViewModel.DoacaoVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDisp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeLocal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDisp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeLocal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdDoa  }) |
                @Html.ActionLink("Details", "Detail", new { id=item.IdDoa }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdDoa })
            </td>
        </tr>
}
    </tbody>
</table>
