@model Projeto_Integrador.ViewModel.FichaVM

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Ficha</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoSangue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoSangue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ultimaDoacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ultimaDoacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orgExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orgExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.religiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.religiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fumante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fumante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tempFumante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tempFumante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeMae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeMae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomePai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomePai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.logradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idUser }) |
    <a asp-action="Index">Voltar</a>
</div>
