@model IEnumerable<Projeto_Integrador.ViewModel.FichaVM>

@{
    ViewData["Title"] = "Sua Ficha";
}

<body>
    <div class="container-fluid">
        <div class="row shadow-sm bg-light m-md-5">
            <div class="row bg-light mt-0 d-flex align-items-center">
                <div class="col">
                    <h2 class="text-muted">Minha Ficha</h2>
                </div>

                <div class="col-auto me-xxl-4">
                    <button class="create btn-sm d-flex align-items-center gap-1">
                        <img src="~/imgs/plus-lg.svg" style="width: 1rem; height: 1rem; filter: invert(1);" />
                        Cadastrar Ficha
                    </button>
                </div>
                <div class="col-auto me-xxl-4">
                    <button class="edit btn-sm d-flex align-items-center gap-1">
                        <img src="~/imgs/plus-lg.svg" style="width: 1rem; height: 1rem; filter: invert(1);" />
                        Editar Ficha
                    </button>
                </div>

                <hr class="col-12 mt-0" />
            </div>

            <table class="table mt-3 mb-5 table-striped">
                @foreach (var item in Model)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nome</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @item.nome
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Tipo Sanguíneo</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @item.tipoSangue
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">CPF</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @item.cpf
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Data de Nascimento</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @item.dataNasc
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Sexo</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @{
                                        var sexo = item.sexo == 0 ? "Masculino" : item.sexo == 1 ? "Feminino" : "Outro";
                                    }
                                    <text>@sexo</text>
                                </div>
                            </div>
                            <hr>



                            
                        </div>
                    </div>
                }
            </table>
        </div>
    </div>
</body>



<div class="modal fade bd-example-modal-lg" tabindex="-1" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-capitalize">
            <div class="modal-body">
                <div id="conteudoModal"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $(".edit").click(function () {
                var id = $(this).data("value");
                $("#conteudoModal").load("/Fichas/Edit?id=" + id, function () {
                    $("#myModal").modal('show');
                })
            });

            $(".create").click(function () {
                var id = $(this).data("value");
                window.location.href = "/Fichas/Create?id=" + id;
            });

        })
    </script>
}




