@model Projeto_Integrador.ViewModel.LocalDoacaoVM

@{
    ViewData["Title"] = "Details";
    Layout = null;
}


<!-- Modal -->
<h4>Locais</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.id)
    </dd>
    <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.nome)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.nome)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.email)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.telefone)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.telefone)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.rua)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.rua)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.num)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.num)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.comple)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.comple)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.cep)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.cep)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.bairro)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.bairro)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.cidade)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.cidade)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.estado)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.estado)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ativo)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ativo)
    </dd>
</dl>
</div>

<hr />
    <div >
        @Html.ActionLink("Edit", "Edit", new { id = Model.id })
    </div>