@model IEnumerable<Projeto_Integrador.ViewModel.LocalDoacaoVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Hemocentros</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comple)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comple)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ativo)
            </td>
            <td>
                <button class="btn btn-success details" data-value="@item.id"><i class="glyphicon glyphicon-file">Detalhes</i></button>
                <button class="btn btn-primary edit" data-id="@item.id"><i class="glyphicon glyphicon-edit">Editar</i></button>
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="modal fade bd-example-modal-lg" tabindex="-1" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudoModal"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".details").click(function () {
                var id = $(this).data("value");
                $("#conteudoModal").load("/LocaisDoacao/Details?id=" + id, function () {
                    $('#myModal').modal("show");
                })
            });



            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                //alert(id);
                $("#modal").on("Edit?id=" + id, function () {
                    $("#modal").trigger('focus');
                })
            });

        })
    </script>
}



